<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SampleProject.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>CDB97281FDCE8C1E56F4D281172277BCC8114C7D</string>
				<key>dateExpires</key>
				<string>8/1/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB97281FDCE8C1E56F4D281172277BCC8114C7D</string>
						<key>dateExpires</key>
						<string>8/1/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U4EBHDP3MX</string>
						<key>name</key>
						<string>Paolo Hilario</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB97281FDCE8C1E56F4D281172277BCC8114C7D</string>
						<key>dateExpires</key>
						<string>8/1/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U4EBHDP3MX</string>
						<key>name</key>
						<string>Paolo Hilario</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB97281FDCE8C1E56F4D281172277BCC8114C7D</string>
						<key>dateExpires</key>
						<string>8/1/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U4EBHDP3MX</string>
						<key>name</key>
						<string>Paolo Hilario</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB97281FDCE8C1E56F4D281172277BCC8114C7D</string>
						<key>dateExpires</key>
						<string>8/1/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Cosmos.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U4EBHDP3MX</string>
						<key>name</key>
						<string>Paolo Hilario</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB97281FDCE8C1E56F4D281172277BCC8114C7D</string>
						<key>dateExpires</key>
						<string>8/1/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DynamicBlurView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U4EBHDP3MX</string>
						<key>name</key>
						<string>Paolo Hilario</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB97281FDCE8C1E56F4D281172277BCC8114C7D</string>
						<key>dateExpires</key>
						<string>8/1/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U4EBHDP3MX</string>
						<key>name</key>
						<string>Paolo Hilario</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB97281FDCE8C1E56F4D281172277BCC8114C7D</string>
						<key>dateExpires</key>
						<string>8/1/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U4EBHDP3MX</string>
						<key>name</key>
						<string>Paolo Hilario</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB97281FDCE8C1E56F4D281172277BCC8114C7D</string>
						<key>dateExpires</key>
						<string>8/1/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U4EBHDP3MX</string>
						<key>name</key>
						<string>Paolo Hilario</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB97281FDCE8C1E56F4D281172277BCC8114C7D</string>
						<key>dateExpires</key>
						<string>8/1/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JTAppleCalendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U4EBHDP3MX</string>
						<key>name</key>
						<string>Paolo Hilario</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB97281FDCE8C1E56F4D281172277BCC8114C7D</string>
						<key>dateExpires</key>
						<string>8/1/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U4EBHDP3MX</string>
						<key>name</key>
						<string>Paolo Hilario</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB97281FDCE8C1E56F4D281172277BCC8114C7D</string>
						<key>dateExpires</key>
						<string>8/1/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PopupDialog.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U4EBHDP3MX</string>
						<key>name</key>
						<string>Paolo Hilario</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB97281FDCE8C1E56F4D281172277BCC8114C7D</string>
						<key>dateExpires</key>
						<string>8/1/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SQLite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U4EBHDP3MX</string>
						<key>name</key>
						<string>Paolo Hilario</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB97281FDCE8C1E56F4D281172277BCC8114C7D</string>
						<key>dateExpires</key>
						<string>8/1/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SocketIO.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U4EBHDP3MX</string>
						<key>name</key>
						<string>Paolo Hilario</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CDB97281FDCE8C1E56F4D281172277BCC8114C7D</string>
						<key>dateExpires</key>
						<string>8/1/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Starscream.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U4EBHDP3MX</string>
						<key>name</key>
						<string>Paolo Hilario</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>U4EBHDP3MX.com.oa.Laybare</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>U4EBHDP3MX</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>U4EBHDP3MX.com.oa.Laybare</string>
				</array>
			</dict>
			<key>name</key>
			<string>SampleProject.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3e17cfa6-3dfa-412f-9283-67598b763370</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.oa.Laybare</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>U4EBHDP3MX</string>
				<key>name</key>
				<string>Paolo Hilario</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
